::-webkit-scrollbar {
	display: none
	;
}

body {
	margin: 0;
	padding: 0;
	top: 0;
	background-color: #000;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	background-size: cover;
	overscroll-behavior: none;
}



button {
	cursor: pointer;
	text-transform: uppercase;
}



#cima {
	position: absolute;
	margin-top: 10px;
	padding: 0;
	margin-right:0;

	}


#marquee1 {
	margin: 2px;
	margin-right:0;
	padding: 0;
	

}


#marquee1 li{
	display: inline;
	color: black;
	font-size: 15px;
	font-weight: 400;
	padding-right: 200px;
	
}

/*.portfolio{
	position: absolute;
	width:100%;
	margin-top: 860px;
	padding: 0;
	margin-right: 0;
	background-color: aliceblue;
}*/ 

h1{
	margin-bottom: 2vw;
	font-size: 15px;
	font-weight: 400;
	text-align: center;
}

a:link {
	color: white;
  }

a:visited {
	color: white;
}

a:hover {
	color: black;

}

footer {
	position: fixed;
	bottom: 0;
	width: 100vw;


	
}